.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}

.subtitle {
    font-size: 20px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}